@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-creme-500 dark:bg-myGray-500 transition-colors duration-500 ease-in-out;
    }

    .document-lines::before,
    .document-lines::after {
        content: "";
        height: 100vh;
        @apply z-50 bg-creme-500 dark:bg-myGray-500 top-0 w-4 fixed transition-colors duration-500 ease-in-out;
    }

    .inverted-border-radius::before {
        content: "";
        position: absolute;

        bottom: -3rem;
        height: 3rem;
        width: calc(100vw - theme('spacing.8'));
        @apply rounded-t-xl transition-shadow duration-500 ease-in-out;
        box-shadow: 0 -1rem 0 0 #fff4eb;
        z-index: 0;
    }

    .dark .inverted-border-radius::before {
        box-shadow: 0 -1rem 0 0 #393f43;
    }

    .document-lines::before {
        @apply left-0;
    }

    .document-lines::after {
        @apply right-0;
    }

    .full-width-container-spacing {
        width: calc(100vw - theme('spacing.8'));
        position: relative;
    }

    /*.home-content-container {*/
    /*    height: calc(75vh - theme('spacing.8'));*/
    /*}*/

    .home-content-container::after {
        content: '';
        background-image: url("../public/images/stars-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 10;
        @apply rounded-xl;
    }

    .footer-width {
        width: calc(100% - 2rem);
    }

    .enable-overflow span {
        overflow: visible !important;
    }
}
