@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        @apply bg-creme-500 dark:bg-myGray-500 transition-colors duration-500 ease-in-out;
    }

    .home-content-container {
        width: calc(100vw - theme('spacing.7'));
        height: calc(75vh - theme('spacing.7'));
        position: relative;
    }

    .home-content-container::after {
        content: '';
        background-image: url("../public/images/stars-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        opacity: 0.3;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: 10;
        @apply rounded-xl;
    }

    .footer-width {
        width: calc(100% - 2rem);
    }

    /*ul.horizontal-list {*/
    /*    position: relative;*/
    /*}*/

    /*ul.horizontal-list li::before {*/
    /*    content: " \00b7";*/
    /*    position: absolute;*/
    /*    margin-left: -1rem;*/
    /*    font-size: 2.5rem;*/
    /*    line-height: 2rem;*/
    /*}*/
}
